<div class="form">  
    <h1>Mensajes</h1>  
    <form onsubmit="return addMessage(this)" class="form-control">
      <input type="text" id="mail" placeholder="Email" required>
      <input type="text" id="mensaje" placeholder="Mensaje" required>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <div id="mensajes"></div>
    </form>  
</div>